@model Note


<div class="card mb-4">
    <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">@Model.Title</h2>
        <p class="card-text">@Model.Description</p>
       
    </div>
    <div class="card-footer text-muted">
        Posted on January 1, 2017 by @Model.Owner
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="p-3">

        </p>
    </div>
</div>
