@model NoteListModel
@using Personally.WebUI.Helpers
<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="my-4"></h1>

        <!-- Blog Post -->
        <!-- Blog Post -->
        @foreach (var item in Model.Notes)
        {
            <div class="card mb-4">
                <img class="card-img-top" src="~/img/@item.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">@item.Title</h2>
                    <p class="card-text">@item.Description</p>
                    <a href="/@Url.FriendlyUrl(item.Title)/@item.Id" target="_blank" style="text-decoration: none;" class="btn btn-primary" >
                        Devamını oku
                    </a>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2017 by @item.Owner
                </div>
            </div>
        }
        <hr />
        <!-- Pagination -->
        <div page-model="@Model.PageInfo">

        </div>
        @*<ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul>*@

    </div>

    <partial name="_categorypartial" />
    <!-- Sidebar Widgets Column -->


</div>
